/*
    +------------------------------------+
    |        Elements in all page        |
    +------------------------------------+
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --primary-color: #272727;
    --secondary-color: #fff;
    --titles-color: #20295b;
    --primary-font: 'Times New Roman', Times, serif;
    --secondary-font: Roboto, sans-serif;
    --mini-margin-x: 0 0.2rem;

}
/*
    +------------------------------------+
    |     Elements in header section     |
    +------------------------------------+
*/
.header-sec {
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 30%;
}
.logo {
    width: 6%;
    height: 6%;
}
.title {
    color: var(--titles-color);
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
}
/*
  +------------------------------------+
  |    Elements in the news section    |
  +------------------------------------+
*/
.news-sec {
    background: #333b43;
    padding: 1.3rem 5% 1.5rem 5%;
}
.filters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 2.5% 2rem 2.5%
}
.input-group {
    display: inline-block;
}
.filter-name {
    display: inline;
    color: var(--secondary-color);
}
.form-input {
    border-radius: 5px;
    background-color: #D5D5D7;
}
.form-input:focus-visible {
    outline: none;
    background-color: var(--secondary-color);
}
.search {
    float: right;
}
.card-cont {
    display: flex;
    justify-content: center;
}
.news-cont {
    display: flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
}
.card {
    width: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.card:hover {
    scale: 1.04;
    transition: all 0.2s ease-in-out;
}
.card-img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}
.card-body {
    padding: .5rem;
}
.card-title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.card-footer {
    font-family: var(--secondary-font);
    padding: 1rem;
    background: #131515;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.card-footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: var(--secondary-color);
    font-size: 0.8rem;
}
.card-footer-element {
    padding: 0 0.4rem;
}
.card-footer-element::before {
    margin: var(--mini-margin-x);
}
.card-link {
    width: 100%;
    height: 100%;
    position: absolute;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    list-style: none;
}
.pag-elements {
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.pag-btn {
    background: initial;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
    color: var(--secondary-color);
    border-radius: 5px;
    border-color: var(--secondary-color);
    cursor: pointer;
}
.pag-elements-ul {
    display: flex;
}
.pag-element {
    color: var(--secondary-color);
    margin: auto 0.5rem;
    width: 25px;
    height: 25px;
    padding: 0 0.5rem;
    border-radius: 5px;
    border-color: var(--secondary-color);
    list-style: none;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}
/*
    +------------------------------------+
    |    Elements in the footer section  |
    +------------------------------------+
*/
.footer-sec {
    background: #212529;
    padding: 1.4rem 5%;
    align-items: center;
    justify-content: center;
}
.footer-text {
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--secondary-color);
}